.main-cardlist {
  background-color: #f2f2f2;
  min-width: $min-width;
  padding: 2rem;
}
@media (max-width: $small-width) {
  .main-cardlist {
    padding: 0;
  }
}

.main-cardlist__Columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
@media (min-width: $medium-width) {
  .main-cardlist__Columns {
    margin-left: 2%;
  }
}
.main-cardlist__Items {
  margin: 4% 4% 0;
  width: 92%;
  background-color: $white;
}
.main-cardlist__Items:hover {
  transform: translateZ(0) scale(1.01);
  box-shadow: -6px 0 #f2f2f2, 6px 0 #f2f2f2, 0 7px 12px -3px rgba(0, 0, 0, 0.17);
}
@media (max-width: $small-width) {
  .main-cardlist__Items {
    width: 100%;
    margin: 0 2% 2% 0;
  }
}
@media (min-width: $medium-width) {
  .main-cardlist__Items {
    width: 48%;
    margin: 0 2% 2% 0;
  }
}

@media (min-width: $max-width) {
  .main-cardlist__Items {
    width: 31.3333333%;
  }
}

.image-claim-height > img,
.responsive-image {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.card__image {
  width: 100%;
  order: -1;
  @media (max-width: $medium-width) {
    .card__image {
      width: 50%;
      order: -1;
    }
  }
}

.card__image img {
  width: 50%;
  @media (max-width: $medium-width) {
    .card__image img {
      width: 33%;
    }
  }
}

.card__heading {
  margin: 0;
  padding: 0.8rem 1rem 1.3rem;
  text-align: center;
  word-break: break-word;
  hyphens: auto;
}

@media (max-width: $medium-width) {
  .card__heading {
    padding: 0.65rem 1rem 0.75rem;
  }
}
