.counter-numbers {
  font-size: 0.8rem;
  
}
.count {
  font-size: 2rem;
  letter-spacing: 0px;
  font-size: 50px;
  color: #008bcb;
  font-weight: 400;
  font-family: montserrat, sans-serif;
  display: block;
  text-align: center
}
