// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------

.col-4 {
  position: relative;
  min-height: 1px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 100%;
}

.col-3 {
  position: relative;
  min-height: 1px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 100%;
}
